/* TO GET AN IDEA OF THE CSS YOU WILL LIKELY BE USING, SEE THE LISTS BELOW. */

        /* 
        
        Spacing 

            - padding (shorthand and/or specific properties like padding-bottom, etc.)

            - margin, (shorthand and/or specific properties like margin-top, etc.)

            - letter-spacing, word-spacing, line-height

            - width, max-width, min-width
            - height, max-height, min-height

        Typography 

            - font-family, font-size, font-style, font-weight

            - text-decoration, text-align

            - color

            - text-shadow, text-transform

        Box, Layout and Border 

            - border (shorthand and/or specific properties like border-top, border-bottom-radius, border-width, etc.)

            - box-shadow

            - display, float, align-items, align-content

            - grid-template-columns, grid-column-gap

            - transform

        Other

            - :nth()-child (to target specific child elements)

            - :focus, :hover, :active (to target link states)

            - @font-face or @import (to import typefaces)

        */


/* ------ START WRITING YOUR CODE BELOW ------ */

@font-face{
    font-family: josefinslab, Arial, sans-serif;
    src:url("../fonts/serif/josefinslab-regular.ttf");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: montserrat, Arial, sans-serif;
    src:url("../fonts/sans-serif/montserrat-regular.ttf");
    font-weight: normal;
    font-style: normal;
}

*{
    box-sizing: border-box;
}

html{
    font-family: "Montserrat", Arial, sans-serif;
    font-size: 1rem;
}

body{
    margin: 1.5rem auto;
    width: 100%;
    
}

main {
    overflow: auto;
    min-width: 45rem;
}

h1{
    text-align: center;
    transform: rotate(-5deg);
    margin: 0 0 45 0px;
    padding: 10 0 10 0px;
    font-size: 3rem;
}

.highlight{
    text-decoration: !important;
    font-weight: bold;
    color: #fff;
    background: red;
    padding: 10px;
    border-radius: 10px;

}

nav{
    /*width: 100%;*/
}

nav ul{
    list-style-type: none;
    display: flex;
    border-top: .125rem solid grey;
    border-bottom: .125rem solid grey;
}

nav a{
    text-decoration: none;
    display: inline-block;
    line-height: 3;
    text-align: left;
    font-size: 1.5rem;
    padding: .5rem 1rem;
    margin-lef: 0;

}

nav a:hover {
    text-decoration: line-through;
    color: #000;
    text-transform: uppercase;
}

article{
    padding: 0 30px 0 0;
}

.main-section{
    display: grid;
    grid-template-columns: 100% auto;
    /*float: left;*/
    width: 70%;
}

.article-image{
    float: left;
    margin: 0 1rem 1rem 0;
    max-width: 100%;
    height: auto;
}

.subsection{
    
}


aside{
    border-left: 2px solid grey;
    padding: 0 30px 0 30px;
}

.expand{
    text-decoration: none;
}

footer{
    display: flex;
}

button{
    font-size: 1.5rem;
    color: white;
    background-color: blue;
    border-radius: 10px;
}
